layout_anaconda dip_env

# --- ROS 2 (bash) ---
export ROS_DISTRO=humble
[ -f "/opt/ros/$ROS_DISTRO/setup.bash" ] && source "/opt/ros/$ROS_DISTRO/setup.bash"
[ -f install/setup.bash ] && source install/setup.bash

# --- Optional: quiet some warnings ---
export PYTHONWARNINGS=ignore::DeprecationWarning